@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

body {
  background-image: url('/imagens/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: flex;
}

.menu {
  background-color: #ECDDCA;
  flex: 2;
  height: 70vh;
  margin: 15vh 17vw 0vh 17vw;
}

#titulo {
  text-align: center;
  margin: 30px;
}

input[type="text"],
input[type="number"] {
  padding: 8px;
  border-radius: 19px;
  font-size: 1em;
  width: 100%;
  color: #73412F;
}

.divisao-form {
  display: flex;
  flex-wrap: wrap;
}

.form-card {
  flex: 1;
  padding: 10px;
}

button {
  background-color: #7E5C4A;
  color: antiquewhite;
  width: 20vw;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1vh;
}

/* Parte para mostrar a lista JSON*/
.mostrarLista {
  background-color: #512615;
  width: 60vw;
  height: 100vh;
  flex: 1;
}

#tituloPedido {
  color: green;
}